<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title size="large" slot="primary">PREFERENCJE</ion-title>
      <ion-icon name="beer-outline" size="large" slot=end ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

<ion-card>
  <ion-card-header>
  <app-zapisane-preferencje></app-zapisane-preferencje>
  </ion-card-header>
  <app-przywroc-domyslne></app-przywroc-domyslne>
</ion-card>
<ion-card>
  <ion-card-content >
    <app-pole-preferencji></app-pole-preferencji>
  </ion-card-content>
</ion-card>

</ion-content>
