<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title size="large" slot="primary">PREFERENCJE</ion-title>
      <ion-icon name="beer-outline" size="large" slot=end ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">


<ion-card>
  <ion-card-content >
    <ion-item>
      <form (ngSubmit)="zapiszPreferencje()">
        <ion-item>
          <ion-input type="text" [(ngModel)]="temepratura" name="temepratura" placeholder="temepratura"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="wilgotnosc" name="wilgotnosc" placeholder="wilgotność"></ion-input>

        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="wiatr" name="wiatr" placeholder="wiatr"></ion-input>

        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="warunki" name="warunki" placeholder="warunki"></ion-input>

        </ion-item>
        <ion-button type="submit" expand="block">
          <ion-icon slot="start" name="locate"></ion-icon>
          Ustaw miasto
        </ion-button>
      </form>

    </ion-item>
  </ion-card-content>
</ion-card>

</ion-content>
